# Config file for automatic testing at travis-ci.org

language: python
services:
  - redis

python:
  - "3.3"
  - "2.7"
  - "pypy"

# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install: pip install -r requirements-test.txt

# command to run tests using coverage, e.g. python setup.py test
script: make test

# report coverage to coveralls.io
# after_success: coveralls