coverage
django>=1.5.5
django-jsonfield>=0.9.12
django-model-utils>=2.0.2
django-nose>=1.2
flake8>=2.1.0
mock>=1.0.1
nose>=1.3.0
tox>=1.7.0
git+https://github.com/pydanny/webhooks.git@93bd777acaa27af33ee9a400debe0a6b34a5a101